body
	{
	color: white;
	background-color: #121212;
	}

h3
	{
	color: #006fdd;
	}

a 
	{
	text-decoration: none;
	color: white;
	}
 
a:hover
	{
	text-decoration: none;
	color: #006fdd;
	}
 
body div
	{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	width: 60rem;
	}
	
